<div class="main-wrap">
  <div class="wrapper ">
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title "><b>Project Name - <%= @tasks_project_name %></b></h4>
              <h4 class="card-title "><b>Total Tasks - <%= @task_count %></b></h4>
              <%= link_to new_project_task_path, class: 'btn btn-primary btn-sm float-right' do %>
                <i class="fa fa-plus left" aria-hidden="true"></i> <span>Task</span>
              <% end %>
            </div>
            <div class="card-body">
              <div class='row mb-2'>
                <div class="col-md-12">
                  <%= search_form_for @q, url: project_tasks_path do |f| %>
                    <div class="input-group">
                      <%= f.search_field :search_cont, value: params.dig('q', 'search_cont'), class: 'form-control search', placeholder: "Search task by name or description..."  %>
                      <div class="input-group-append">
                        <%= f.submit "search", class: "btn btn-outline-primary btn-sm" %>
                      </div>
                    </div>  
                  <% end %>
                </div>
              </div>            
              <div class="table-responsive">                
                <% if @tasks.present? %>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col"><%= sort_link(@q, :title) %></th>
                        <th scope="col"><%= sort_link(@q, :description) %></th>
                        <th scope="col"><%= sort_link(@q, :status) %></th>
                        <th scope="col"><%= sort_link(@q, :delivery_date) %></th>
                        <th scope="col" colspan="2">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @tasks.each_with_index do |task, index| %>
                        <tr>
                          <td scope="row"><%= index_count_increment(index) %></td>
                          <td scope="row"><%= link_to humanize_data(task.title), project_task_path(id: task.id) %></td>
                          <td scope="row"><%= humanize_data(task.description) %></td>
                          <td scope="row"><%= humanize_data(task.status) %></td>
                          <td scope="row"><%= formatted_date(task.delivery_date) %></td>
                          <td scope="row">
                            <%= link_to edit_project_task_path(id: task.id) do %>
                              <i class='fa fa-edit pd-6' data-placement="bottom" title='Edit'></i>
                            <% end %>
                            <%= link_to project_task_path(id: task.id), method: :delete, data: { confirm: "Are you sure want to delete task?" }, class: 'confirm disable-right-click' do %>
                              <i class='fa fa-trash pd-6' data-placement="bottom" title='Delete'></i>
                            <% end %>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                  <%= paginate @tasks %>
                <% end %>
              <div class="bottom-btn two-btn btn-row">
                <%= link_to projects_path, class: 'btn btn-outline-secondary btn-sm' do %>
                  <i class="fa fa-arrow-left left" aria-hidden="true"></i>Back
                <% end %>
              </div>                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
